.form-layout {
    position: relative;
    width: 30%;
}
.spinner-layout {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
}
.spinner-active {
    display: none;
}

.spinner-layout div {
    position: absolute;
    width: 50%;
    height: 30%;
}

